div.pantalla{
    background-image: url(imagenes/bg-106.png);
    width: 240px;
    height: 160px;
    margin: 5px auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

#lute{
    float:right;
    position: relative;
    background-image: url(imagenes/lute_mage_magic.gif);
    /* background-position: -332px -13px; width:41px; height:33px; top: 90px;right:12px;*/
    background-position: -7px -8px;
    width:31px;
    height:37px;
    top: 90px;
    right:30px;
    animation: spell 1.2s linear infinite;
}

@keyframes spell{
    /*frame 1*/
    0% {background-position: -7px -8px; width:31px; height:37px; top: 90px;right:30px}
    4.33% {background-position: -7px -8px; width:31px; height:37px}
    /*frame 2*/
    4.34% {background-position: -39px -8px; width:32px; height:37px}
    8.67% {background-position: -39px -8px; width:32px; height:37px}
    /*frame 3*/
    8.68% {background-position: -74px -8px; width:34px; height:37px}
    13.11% {background-position: -74px -8px; width:34px; height:37px;right:30px}
    /*frame 4*/
    13.12% {background-position: -111px -8px; width:31px; height:37px; right:29px}
    17.45% {background-position: -111px -8px; width:31px; height:37px; right:29px}
    /*frame 5*/
    17.46% {background-position: -144px -8px; width:35px; height:39px; right:28px}
    21.89%  {background-position: -144px -8px; width:35px; height:39px; right:28px; top: 90px} 
    /*frame 6*/
    21.90% {background-position: -175px -4px; width:31px; height:41px;right:29px; top: 86px} 
    26.33%  {background-position: -175px -4px; width:31px; height:41px;right:29px; top: 86px} 
    /*frame 7*/
    26.34% {background-position: -207px -4px; width:39px; height:41px; top: 84px;right:18px} 
    30.67%  {background-position: -207px -4px; width:39px; height:41px; top: 84px;right:18px} 
    /*frame 8*/
    30.68% {background-position: -245px -4px; width:45px; height:39px; top: 84px;right:12px} 
   35.11%  {background-position: -245px -4px; width:45px; height:39px; top: 84px;right:12px} 
   /*frame 9*/
    35.12% {background-position: -285px -4px; width:46px; height:39px; top: 84px;right:12px} 
    39.45%  {background-position: -285px -4px; width:46px; height:39px; top: 84px;right:12px} 
    /*frame 10*/
    39.46% {background-position: -332px -13px; width:41px; height:33px; top: 90px;right:12px} 
    43.89%  {background-position: -332px -13px; width:41px; height:33px; top: 90px;right:12px}
    /*frame 11*/
    43.90% {background-position: -375px -13px; width:43px; height:33px; top: 90px;right:12px} 
    48.33%  {background-position: -375px -13px; width:43px; height:33px; top: 90px;right:12px} 
    /*frame 12*/
    48.34% {background-position: -420px -5px; width:43px; height:42px; top: 81px;right:12px}
    52.67%  {background-position: -420px -5px; width:43px; height:42px; top: 81px;right:12px}
    /*frame 13*/
    52.68% {background-position: -4px -47px; width:43px; height:32px; top: 90px;right:12px}
    57.11% {background-position: -4px -47px; width:43px; height:32px; top: 90px;right:12px}
    /*frame 14*/
    57.12% {background-position: -48px -47px; width:43px; height:32px; top: 90px;right:12px} 
    61.45%  {background-position: -48px -47px; width:43px; height:32px; top: 90px;right:12px}
    /*frame 15*/
    61.46% {background-position: -93px -47px; width:43px; height:32px; top: 90px;right:12px} 
    65.89%  {background-position: -93px -47px; width:43px; height:32px; top: 90px;right:12px} 
    /*frame 16*/
    65.90% {background-position: -138px -48px; width:43px; height:32px; top: 90px;right:12px} 
    70.33%  {background-position: -138px -48px; width:43px; height:32px; top: 90px;right:12px} 
    /*frame 17*/
    70.34% {background-position: -183px -47px; width:43px; height:32px; top: 90px; right:13px} 
    74.67% {background-position: -183px -47px; width:43px; height:32px; top: 90px;right:13px} 
    /*frame 18*/
    74.68% {background-position: -229px -47px; width:41px; height:32px; top: 90px;right:15px} 
    79.11%  {background-position: -229px -47px; width:41px; height:32px; top: 90px;right:15px}
    /*frame 19*/
    79.12% {background-position: -272px -47px; width:39px; height:35px; top: 89px;right:19px} 
    81.45%  {background-position: -272px -47px; width:39px; height:35px; top: 89px;right:19px} 
    /*frame 20*/
    81.46% {background-position: -314px -47px; width:31px; height:35px; top: 89px;right:21px} 
    85.89%  {background-position: -314px -47px; width:31px; height:35px; top: 89px;right:21px} 
    /*frame 21*/
    85.9% {background-position: -348px -47px; width:28px; height:35px; top: 89px;right:24px} 
    90.33%  {background-position: -348px -47px; width:28px; height:35px; top: 89px;right:24px} 
    /*frame 22*/
    90.34% {background-position: -374px -47px; width:28px; height:35px; top: 89px;right:27px} 
    94.67%  {background-position: -374px -47px; width:28px; height:35px; top: 89px;right:27px}
    /*frame 23*/
    94.68% {background-position: -7px -8px; width:31px; height:37px; top: 90px;right:30px}     
    100% {background-position: -7px -8px; width:31px; height:37px; top: 90px;right:30px}
}

#lynn{
    width:27px;
    height:41px;
    background-image: url(imagenes/lyn_lord_sword.gif);
    background-position: -11px -11px;
    position: relative;
    top: 86px;
    left: 30px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}